*, *:before, *:after{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

canvas {
    position:fixed;
}

a {
    position:fixed;
    bottom: 0px;
    right: 0px;
    text-decoration: none;
    font-family: sans-serif;
    margin: 3px;
}
