*, *:before, *:after{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#container {
    width: 600px;
    margin: auto;
    position: relative;
    top: 30px;
}

canvas {
    position:fixed;
    border: 1px solid black;
}

p {
    position:fixed;
    bottom: 0px;
    right: 0px;
    font-family: sans-serif;
    margin: 3px;
}

a {
    text-decoration: none;
}
